<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/page_forum.css">

    <title>Forum</title>
</head>
<body>
    <div class="container">
        <!-- --------------------------------------------------------------------------------------- -->
        <header class="navbar">
            <!-- ------------------------------------ -->
            <div class="bar-responsive">
            <!--  -->
                <div class="burger">
                    <span></span>
                </div>
            <!--  -->
                <div class="logo">
                    <a href="#"><img src="../Picture/Icons/logo.png" alt="logo"></a>
                </div>
            <!--  -->
                <div class="account">
                    <a href="#"><img src="../Picture/Icons/profil.png" alt=""></a>
                </div>
            <!--  -->
            </div>

            <div class="back-bar-responsive">
                
                <div class="search">
                    <form action="#" method="post" class="searchbar">
                        <input class="input" id="searchInputResp" type="text" placeholder="Search ...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="categories">
                    <ul class="listing-categories">
                        <li><a href="/accueil"><span>Accueil</span></a></li>
                        <li><a href="/subject_actu"><span>Actualités</span></a></li>
                        <li><a href="/subject_pop"><span>Populaire</span></a></li>
                        <li><a href="/subject_affichage"><span>Forums</span></a></li>
                        <li><a href="/contact"><span>Nous contacter</span></a></li>
                    </ul>
                </div>

            </div>

                <!---- --------------------------------- ---->
            <nav class="bar">
                <div class="block-left">
                    <!--  -->
                    
                    <!--  -->
                    <div class="logo">
                        <a href="#"><img src="../Picture/Icons/logo.png" alt="logo"></a>
                    </div>
                    <!--  -->
                    <div class="categories">
                        <ul class="listing-categories">
                            <li><a href="/accueil"><span>Accueil</span></a></li>
                            <li><a href="/subject_actu"><span>Actualités</span></a></li>
                            <li><a href="/subject_pop"><span>Populaire</span></a></li>
                            <li><a href="/subject_affichage"><span>Forums</span></a></li>
                            <li><a href="/contact"><span>Nous contacter</span></a></li>
                        </ul>
                    </div>
                    <!--  -->
                </div>
                <!----  ---->
                <div class="block-right">
                    <!--  -->
                    <form action="#" method="post" class="searchbar">
                        <input class="input" id="searchInput" type="text" placeholder="Search ...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                    <!--  -->
                    {{if eq .Error false}}
                    <div class="lang">
                        <img src="../Picture/Icons/drapeau.png" alt="drapeau">
                    </div>
                    {{end}}
                    <!--  -->
                    <div class="blocky">
                    <div class="login">
                        {{if eq .ID_user ""}}
                            <a href="#modal-opened" class="link-1" id="modal-closed">
                        {{else}}
                            <a href="/profil" class="link-1" id="modal-closed">
                        {{end}}
                            <img class="profil" src="../Picture/Icons/profil.png" alt="profil">
                        {{if eq .ID_user ""}}
                            <p class="log">Log In</p>
                        {{else}}
                            <p class="log">{{.ID_user}}</p>
                            <a href="/login_delete" class="adel"><img src="../Picture/Icons/logout.png" class="del"></a>
                        {{end}}
                        </a>
    
                        <div class="modal-container" id="modal-opened">
                          <div class="modal">
                        
                            <div class="modal__details">
                              <h1 class="modal__title">Se connecter</h1>
                            </div>
                            <div class="block">
                                <div class="error">
                                    {{if eq .Error2 true}}
                                        <h2>L'adresse mail ou le mot de passe est incorrect !</h2>
                                    {{end}}
                                </div>

                              <form action="/login_exec " method="POST" class="form">

                                <input type="email" id="email" name="email" placeholder="*email" required>
                            
                                <input type="password" id="password" name="password" placeholder="*Password" required>
                                <p><a href="/contact" class="mdp">Mot de passe oublié ? </a></p>
                            
                                <input type="submit" value="Valider" class="submit">
                                <p><a href="/register" class="ins">Pas encore inscrit ? </a></p>
                              </form>

                            </div>
                            <a href="#modal-closed" class="link-2"></a>
                          </div>
                        </div>
                    </div>
                    </div>
                    <!--  -->
                    {{if eq .Error false}}
                    <div class="settings">
                        <a href="/modifyprofil"><img src="../Picture/Icons/settings.png" alt=""></a>
                    </div>
                    {{end}}
                    <!--  -->
                </div>
                <!----  ---->
            </nav>
        </header>
        <!-- ---------------------------------------------------- -->
    <div class="container2">
    <section class="content">

        <div class="content-title">
            <h2>{{.Title_subject}}</h2>
        </div>

        <div class="content-subject">
            <div class="content-subject-categorie-type">
                <h3><span>Catégorie : </span>{{.Categories}}</h3>
                <h3><span>Type : </span>{{.Types}}</h3>
            </div>
            <div class="content-subject-button">
                <a href="#Repondre" class="response">Répondre</a>
                <a href="/subject_affichage#modal-opened" class="new">Nouveau Sujet</a>
                <a href="/subject_affichage" class="list">Liste des Sujets</a>
            </div>
            <div class="content-subject-message">
                <h3>Message de {{.ID_user}}:</h3>
                <br>
                <p>{{.Word}}</p>
            </div>
            {{range .Message}}
            <div class="content-subject-message">
                <div class="content-subject-message-up">

                    <form class="bin" action="/delete_message" method="post">
                        <input type="text" name="delete" id="del" value="{{.ID_message}}">
                        <button type="submit"><img src="../Picture/Icons/poubelle-removebg-preview.png" alt="bin"></button>
                    </form>

                    <img src="../Picture/Icons/profil.png" id="profil" alt="profil">
                    <div class="content-subject-message-up-name-date">
                        <h4>{{.ID_user}}</h4>
                        <p>Envoyé le {{.Date_message}}</p>
                    </div>
                </div>
                <div class="test">
                <div class="content-subject-message-down">
                    <p>{{.Message}}</p>
                </div>
            </div>
            </div>
            {{end}}
            <div id="Repondre" class="content-subject-repondre">
                <h3>Répondre</h3>
                {{if eq .Error false}}
                <form class="reponse" action="/message_exec" method="post">
                    <textarea name="message" cols="5" rows="5" placeholder="Ecrivez votre message ..."></textarea>
                    <input type="submit" value="Envoyer">
                </form>
                {{else}}
                <div class="connecter">
                    <a href="/subject_affichage#modal-opened"><h3>Se connecter pour envoyer un message</h3></a>
                </div>    
                {{end}}
            </div>
        </div>
    </section>
</div>
<!-----------------------footer----------------------->
<footer>
    <div class="footer-up">
        <div class="footer-up-logotext">
            <a href="/accueil"><img src="../Picture/Icons/logo.png" alt="icon"></a>
            <div class="footer-up-logotext-text">
                <h5>Odyssee.fr</h5>
                <span>Parcourrez l'histoire à travers Odyssée</span>
            </div>
        </div>
        <div class="footer-up-beta">
            <a href="https://de.freepik.com/search?format=search&query=mythologie" target="_blank"><img src="../Picture/Icons/footer.png" alt="lien site officiel"></a>
        </div>
    </div>

    <div class="footer-down">
        <div class="footer-down-copy-right">
            <a href="/accueil">ODYSSEE.FR</a> 2022   |   ALL RIGHTS RESERVED <br>
            <div class="block2">
                <img class="pic2" src="../Picture/Icons/Doc.png">
                <a href="/reglement">Règlement&nbsp;</a><br>
            </div>
            <a href="/politique">Politique de confidentialité</a>
        </div>
        <div class="footer-down-info">
            <ul>
                <li><a href="/accueil">Accueil</a><a href="/subject_actu">Actualités</a><a href="/subject_pop">Populaire</a><a href="/subject_affichage">Forums</a><a href="/contact">Nous contacter</a></li>
                <li>CRÉDITS ODYSSEE.FR</li>
            </ul>
        </div>
    </div>
</footer>
<!-- ------------------------------------------------------ -->



</body>
</html>
