<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/95e7288016.js" crossorigin="anonymous"></script>
    <title>Règlement</title>
    <link rel="stylesheet" href="../CSS/rules.css">
</head>
<body>
    <div class="container">
        <!-- --------------------------------------------------------------------------------------- -->
        <header class="navbar">
            <!-- ------------------------------------ -->
            <div class="bar-responsive">
            <!--  -->
                <div class="burger">
                    <span></span>
                </div>
            <!--  -->
                <div class="logo">
                    <a href="/accueil"><img src="../Picture/Icons/logo.png" alt="logo"></a>
                </div>
            <!--  -->
                <div class="account">
                    <a href="#"><img src="../Picture/Icons/profil.png" alt=""></a>
                </div>
            <!--  -->
            </div>

            <div class="back-bar-responsive">
                
                <div class="search">
                    <form action="#" method="post" class="searchbar">
                        <input class="input" id="searchInputResp" type="text" placeholder="Search ...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="categories">
                    <ul class="listing-categories">
                        <li><a href="/accueil"><span>Accueil</span></a></li>
                        <li><a href="/subject_actu"><span>Actualités</span></a></li>
                        <li><a href="/subject_pop"><span>Populaire</span></a></li>
                        <li><a href="/subject_affichage"><span>Forums</span></a></li>
                        <li><a href="/contact"><span>Nous contacter</span></a></li>
                    </ul>
                </div>

            </div>

                <!---- --------------------------------- ---->
            <nav class="bar">
                <div class="block-left">
                    <!--  -->
                    
                    <!--  -->
                    <div class="logo">
                        <a href="/accueil"><img src="../Picture/Icons/logo.png" alt="logo"></a>
                    </div>
                    <!--  -->
                    <div class="categories">
                        <ul class="listing-categories">
                            <li><a href="/accueil"><span>Accueil</span></a></li>
                            <li><a href="/subject_actu"><span>Actualités</span></a></li>
                            <li><a href="/subject_pop"><span>Populaire</span></a></li>
                            <li><a href="/subject_affichage"><span>Forums</span></a></li>
                            <li><a href="/contact"><span>Nous contacter</span></a></li>
                        </ul>
                    </div>
                    <!--  -->
                </div>
                <!----  ---->
                <div class="block-right">
                    <!--  -->
                    <form action="#" method="post" class="searchbar">
                        <input class="input" id="searchInput" type="text" placeholder="Search ...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                    <!--  -->
                    {{if eq .Error false}}
                    <div class="lang">
                        <img src="../Picture/Icons/drapeau.png" alt="drapeau">
                    </div>
                    {{end}}
                    <!--  -->
                    <div class="blocky">
                    <div class="login">
                        {{if eq .Pseudo ""}}
                            <a href="#modal-opened" class="link-1" id="modal-closed">
                        {{else}}
                            <a href="/profil" class="link-1" id="modal-closed">
                        {{end}}
                            <img class="profil" src="../Picture/Icons/profil.png" alt="profil">
                        {{if eq .Pseudo ""}}
                            <p class="log">Log In</p>
                        {{else}}
                            <p class="log">{{.Pseudo}}</p>
                            <a href="/login_delete" class="adel"><img src="../Picture/Icons/logout.png" class="del"></a>
                        {{end}}
                        </a>
    
                        <div class="modal-container" id="modal-opened">
                          <div class="modal">
                        
                            <div class="modal__details">
                              <h1 class="modal__title">Se connecter</h1>
                            </div>
                            <div class="block">
                                <div class="error">
                                    {{if eq .Error2 true}}
                                        <h2>L'adresse mail ou le mot de passe est incorrect !</h2>
                                    {{end}}
                                </div>

                              <form action="/login_exec " method="POST" class="form">

                                <input type="email" id="email" name="email" placeholder="*email" required>
                            
                                <input type="password" id="password" name="password" placeholder="*Password" required>
                                <p><a href="/contact" class="mdp">Mot de passe oublié ? </a></p>
                            
                                <input type="submit" value="Valider" class="submit">
                                <p><a href="/register" class="ins">Pas encore inscrit ? </a></p>
                              </form>

                            </div>
                            <a href="#modal-closed" class="link-2"></a>
                          </div>
                        </div>
                    </div>
                    </div>
                    <!--  -->
                    {{if eq .Error false}}
                    <div class="settings">
                        <a href="/modifyprofil"><img src="../Picture/Icons/settings.png" alt=""></a>
                    </div>
                    {{end}}
                    <!--  -->
                </div>
                <!----  ---->
            </nav>
        </header>
        <!-- ---------------------------------------------------- -->
    </div>

    <!-- CONTENU -->
    <div class="container2">
        <div class="rules-odyssee-principal">
            <div class="rules-odyssee-principal-title">
                <h class="rules-title">Règlement</h>
            </div>
            <div class="rules-odyssee-principal-text">
                <div class="rules-text1">
                    <p>Afin de pouvoir s'intégrer comme il faut dans la communauté d'Odyssée, nous vous demandons de lire<br> attentivement le règlement ci-dessous pour éviter d'être sanctionné.<br><br>

                        Contexte :<br>
                        Ce forum a été créé pour vous qui étudiez à Ynov Campus. N’oubliez pas qu'un forum est un endroit où tout le<br> monde a le droit d'exprimer son opinion librement, à condition de respecter les règles ci-dessous.<br><br>
                        
                        Article 1 : Courtoisie et politesse<br>
                        Une argumentation est toujours plus intéressante qu’une insulte. Toute atteinte à la dignité d’autrui sera passible de<br> sanctions. De plus, tout langage vulgaire sera sujet à censure et réprimande, même dans le cas d’une blague :<br> humour n'est pas nécessairement égal à vulgarité.<br><br>
                        
                        Tout message ou pseudo à caractère sexuel, discriminatoire, violent, xénophobe, haineux ou de dénégation sera<br> supprimé, et l’auteur se verra sanctionné.<br><br>
                        
                        Toute tentative de flamewar sera évidemment réprimandée et non tolérée. Vous devez savoir lorsque vous affichez<br> un message pouvant attaquer autrui qu’une mauvaise réplique enchaînera une mauvaise ambiance au sujet et ainsi,<br> au forum.<br><br>
                        
                        Article 2 : Interdiction de publicité déplacée<br>
                        Les ventes et la publicité sont interdites sur le forum. Exception faite pour les propositions de services et les achats<br> de service dans la mesure du raisonnable, mais ceux-ci pourront faire l’objet d’une suppression s’ils sont sujets à des<br> retours négatifs récurrents.<br><br>
                        
                        Article 3 : Mesure d'exception<br>
                        L’équipe se réserve le droit de sanctionner tout individu dont l’attitude serait reconnue comme nuisible à l'ambiance<br> du forum. Tout troll pourra ou non être sanctionné, selon le jugement de la modération. De même, tout membre,<br> toute discussion ou tout contenu pourra faire l’objet d’une sanction s’il est jugé comme étant néfaste pour la<br> communauté ou le forum.<br><br>
                        
                        Article 4 : La langue française sur le forum<br>
                        Le forum est francophone. Il est donc demandé d’y utiliser un langage français, compréhensible et, dans la mesure<br> du possible, correctement orthographié. L’utilisation d’autres langues peut être punie par un avertissement.<br><br>
                        
                        Article 5 : Les catégories.<br>
                        Le forum est équipé de plusieurs catégories et sections, il vous est donc impératif avant de poster votre sujet de vous<br> assurer du bon emplacement de ce dernier. Si jamais le non-respect de ces catégories est trop récurrent, vous serez<br> alors sanctionné en conséquence.<br><br>
                        
                        Article 6 : Les titres de topic.<br>
                        Les titres de type "Urgent svp !!!", "J'ai un problème !!", ou tout autre titre si peu indicatif du contenu du topic se<br> verront avertir.<br><br>
                        
                        Article 7 : Evaluations abusives<br>
                        Tout abus d'évaluations qu'elles soient positives ou négatives se verra sanctionné. Sont considérés comme des abus :<br>
                        - Le fait d'utiliser des appréciations négatives sous prétexte que l'on a eu un conflit avec un membre.<br>
                        
                        - Le fait de poster des appréciations positives ou négatives de manière répétitive ou aléatoire, sans raison apparente.<br>
                        
                        Il en est de même pour les boutons "j'aime" sur les pages de profil des membres.<br>
                        
                        Article 8 : Droit à l’oubli Chaque membre peut demander la suppression définitive de son compte (y compris ses<br> informations) avec ou sans l’intégralité de ses messages. Par suppression définitive est entendue la disparition pour<br> les membres ainsi que pour la modération, mais en revanche pas pour les administrateurs.<br><br>
                        
                        Article 9 : Protection des utilisateurs L’ensemble des règles précédentes peuvent faire l’objet d’exceptions dans le<br> cadre de la protection des membres contre tout message pouvant être nuisible aux utilisateurs du forum, les<br> modérateurs se réservent donc le droit de supprimer tout contenu et de sanctionner tout membre concerné.<br><br> </p>
                </div>
            </div>
        </div>
    </div>

    <!-- ------- -->
    
    <!-----------------------footer----------------------->
    <footer>
        <div class="footer-up">
            <div class="footer-up-logotext">
                <a href="/accueil"><img src="../Picture/Icons/logo.png" alt="icon"></a>
                <div class="footer-up-logotext-text">
                    <h5>Odyssee.fr</h5>
                    <span>Parcourrez l'histoire à travers Odyssée</span>
                </div>
            </div>
            <div class="footer-up-beta">
                <a href="https://de.freepik.com/search?format=search&query=mythologie" target="_blank"><img src="../Picture/Icons/footer.png" alt="lien site officiel"></a>
            </div>
        </div>

        <div class="footer-down">
            <div class="footer-down-copy-right">
                <a href="/accueil">ODYSSEE.FR</a> 2022   |   ALL RIGHTS RESERVED <br>
                <div class="block2">
                    <img class="pic2" src="../Picture/Icons/Doc.png">
                    <a href="/reglement">Règlement&nbsp;</a><br>
                </div>
                <a href="/politique">Politique de confidentialité</a>
            </div>
            <div class="footer-down-info">
                <ul>
                    <li><a href="/accueil">Accueil</a><a href="/subject_actu">Actualités</a><a href="/subject_pop">Populaire</a><a href="/subject_affichage">Forums</a><a href="/contact">Nous contacter</a></li>
                    <li>CRÉDITS ODYSSEE.FR</li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- ------------------------------------------------------ -->

    <script src="main.js"></script>
    <script src="https://kit.fontawesome.com/95e7288016.js" crossorigin="anonymous"></script>
</body>
</html>