/* Global */

*{
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: 'Caesar',sans-serif;
  font-family: Roboto;
}

body {
  background-image: url(../Picture/Fonds/wp2763352-mythology-wallpapers.jpg);
  background-attachment: fixed;
}

/* Navbar */

header{
  width: 100%;
  background-color: #061531;
  padding: 10px;
  position: sticky;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.block-left{
  width: 50%;
  display: flex;
  align-items: center;
  align-items: center;
}

.block-right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 35px;
}

/* Burger */

.burger{
  display: none;
  width: 42px;
  height: 24px;
  position: relative;
  cursor: pointer;
  z-index: 20;
}

.burger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  transition: background-color  0.5s ease-in-out;
}

.burger span::before,.burger span::after{
  content: '';
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.burger span::before{
  transform: translateY(-10px);
}

.burger span::after{
  transform: translateY(10px);
}

.burger.active span {
  background-color: transparent;

}

.burger.active span::before{
  transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after{
  transform: translateY(0px) rotateZ(-45deg);
}

/* logo */

.logo{
  width: 20%;
  
}

.logo a{
  width: 100%;
}

.logo a img{
  width: 100%;
}


/* categories */

.categories{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

ul.listing-categories{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

ul.listing-categories li a {
  margin: 0 10px;
  display: flex;

}

/* searchbar */

form input{
  border: none;
}

.searchbar{
  width: 40%;
  display: inline-flex;
}

.searchbar input{
  width: 85%;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
  padding-left: 10px;
}

.searchbar button{
  width: 15%;
  height: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchbar button i{
  color: black;
}


/* lang */

.lang{
  width: 50px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang img{
  width: 100%;
  border-radius: 50px;
}

/* Account */

.account{
  width: calc(100%/6);
  
}

.account a{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account a img{
  width: 40px;
  margin-right: 10px;
}

/* Settings */

.settings{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.settings a{
  width: 100%;
}

.settings a img{
  width: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5px;
  margin-left: 4vh;
}

.bar-responsive{
  display: none;
}


.back-bar-responsive{
  display: none;
}

/* Responsive */


@media screen and (max-width:1335px) {
  .block-left, .block-right{
      display: none;
  }
  .bar-responsive{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .bar-responsive .burger{
      display: block;
  }
  .open .header-navbar {
      transform: translateX(0);
  }
  .bar-responsive .logo{
      width: 100px;
  }
  .bar-responsive .logo a img{
      width: 100%;
  }

  .bar-responsive .account{
      width: 40px;
  }

  .bar-responsive .account a img{
      width: 100%;
      margin: 0;
  }


  .back-bar-responsive{
      align-items: center;
      position: relative;
      flex-direction: column;
      background-color: #061531;
      width: 100%;
      left: -100%;
      min-height: 100vh;

      transform: translateX(-100%);
      transition: transform 1s;
      z-index: 20;
  }

  .open .back-bar-responsive{
      display: flex;
      transition: transform 1s;
      transform: translateX(100%);
  }

  .search{
      width: 70%;
      margin-top: 30px;
  }

  .search .searchbar{
      width: 100%;
  }

  .back-bar-responsive .categories{
      margin-top: 30px;
  }

  .open .back-bar-responsive .categories .listing-categories{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .back-bar-responsive .categories .listing-categories li{
      margin-top: 30px;
  }
}

/*--------------------------------------------------*/

.container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.input::placeholder{
  color: #1f1f1f;
  margin-left: 10px;
}

ul.list {
  width: 100%;
}

/*                pop up               */

a,
a:link {
  font-family: inherit;
  text-decoration: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background: hsla(0, 0%, 40%, .6);
}

.modal-container:target {
  display: flex;
}

.modal {
  width: 50%;
  padding: 3rem 2rem;
  border-radius: .8rem;
  color: var(--light);
  background: #E1E1E1;
  box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__details {
  text-align: center;
  width: 50%;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
  color: black;
}

.modal__title {
  font-size: 2.2rem;
  color: black;
}

.modal__description {
  margin-top: 2rem;

  font-size: 1.6rem;
  font-style: italic;
  color: black;
}

.modal__text {
  padding: 0 4rem;
  margin-bottom: 4rem;

  font-size: 1.6rem;
  line-height: 2;
  color: black;
}

.modal__text::before {
  content: '';

  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);

  width: 18rem;
  height: 18rem;
  border: 1px solid hsla(0, 0%, 100%, .2);
  border-radius: 100rem;

  pointer-events: none;
  color: black;
}

.submit {
  width: 40%;
  height: 2rem;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 100rem;

  color: inherit;
  background: transparent;
  font-size: 15px;
  font-family: inherit;
  letter-spacing: .2rem;

  transition: .2s;
  cursor: pointer;
  background: white;
  color: black;
}

.submit:hover,
.submit:focus {
  border-color: black;
  transform: translateY(-.2rem);
}

.link-1 {
  width: 100%;
  font-size: 20px;
  height: 40px;
  display: flex;
  color: var(--light);
  background: var(--background);
  border-radius: 100rem;
  transition: .2s;
  text-align: center;
  align-items: center;
}

.link-2 {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 100rem;

  color: inherit;
  font-size: 2.2rem;

  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
  color: black;
}

.link-2::before {
  content: '×';

  transform: translateY(-.1rem);
}

.link-2:hover,
.link-2:focus {
  border-color: black;
  transform: translateY(-.2rem);
}

.second-version-link,
.second-version-link:link {
  color: hsl(236, 50%, 50%);
  padding: .8rem 1.6rem .8rem .2rem;
  border-bottom: 2px solid hsl(236, 50%, 50%);

  font-size: 1.4rem;
  font-weight: bold;

  position: absolute;
  top: 4rem;
  right: 4rem;
}

.second-version-link::after {
  content: '\2197';

  position: absolute;
  top: 0;
  right: 0;

  font-size: .9em;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 1.6rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 70%;
  height: 40px;
  color: black;
  border: 1px solid gray;
  padding-left: 10px;
}

#password {
  margin-top: 20px;
  font-size: 20px;
  width: 70%;
  height: 40px;
  color: black;
  border: 1px solid gray;
  padding-left: 10px;
}

.mdp {
  font-size: 15px;
  display: flex;
  margin-bottom: 20px;
  color: #2F6AD8;
  margin-top: 10px;
}

.ins {
  font-size: 15px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #2F6AD8;
}

.profil {
  height: 50px;
  margin-right: 2%;
  opacity: 90%;
}

.login {
  display: flex;
  align-items: center;
}

.blocky {
  border-radius: 100rem;
  width: 38%;
  margin-left: 3%;
  margin-right: 1%;
}

.log {
  box-shadow: .5rem .5rem 2.3rem .5rem hsla(236, 50%, 50%, 0.8);
  border-radius: 100rem;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1vh;
  padding-right: 1vh;
}

.error {
  background: #E1E1E1;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.error h2 {
  background: #E1E1E1;
  color: red;
}

.adel {
  width: 40px;
}

.del {
  width: 100%;
  margin-left: 2vh;
  margin-top: 1vh;
}

/*--------------------------------------------------*/

.confidentiality-odyssee-principal {
  display: flex;
    flex-direction: column;
    height: auto;
    width: 68%;
    background-color: #293347ed;
}

.confidentiality-odyssee-principal-title {
  padding-top: 3vh;
  text-align: center;
}

.confidentiality-title {
text-decoration: underline;
  font-size: 35px;
}

.confidentiality-odyssee-principal-text {
  width: 100%;
}

.confidentiality-odyssee-principal-text {
  padding-top: 5vh;
}

.confidentiality-text1 {
  padding-left: 4vh;
  padding-right: 4vh;
}

.confidentiality-text1 p{
  font-size: 20px;
  margin-bottom: 5vh;
}

/*footer*/

footer {
  bottom: 0;
  background: #061531;
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 19;
  position: relative;
}

.footer-up {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: white solid 3px;
  padding: 30px 0;
}

.footer-up-logotext {
  width: calc(100% / 2);
  display: flex;
  justify-content: left;
}

.footer-up-logotext img {
  width: 100px;
}

.footer-up-logotext-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer-up-beta {
  width: calc(100% / 2);
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
}

.footer-up-beta a{
  width: 50%;
  display: flex;
  justify-content: right;
}

.footer-up-beta img {
  width: 100%;
}

/**/ /**/
.footer-down {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding: 30px 0;
}

.footer-down-copy-right {
  width: 35%;
  text-align: left;
}

.footer-down-copy-right a {
  color: white;
  line-height: 20px;
}

.footer-down-copy-right p {
  line-height: 20px;
}

.footer-down-info {
  width: 65%;
  text-align: right;
  display: flex;
  justify-content: right;
}

.footer-down-info ul {
  width: 100%;
}

.footer-down-info li {
  margin-bottom: 15px;
}

.footer-down-info a {
  margin-left: 15px;
  font-size: 15px;
  color: white;
}

.block2 {
  align-items: center;
  display: flex;
}

img.pic2 {
  width: 4%;
}

/*----------------responsive footer--------------------*/


@media screen and (max-width: 950px) {
  .footer-up {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
  }

  .footer-up-logotext {
      flex-direction: column;
      align-items: flex-start;
  }

  .footer-up-logotext-text,
  .footer-up-logotext-text h5,
  .footer-up-logotext-text,

  span {
      width: 100%;
      justify-content: center;
      align-items: center;
  }
  .footer-up-social-media {
      justify-content: left;
      margin: 10px 0;
  }
  .footer-down-info {
      display: none;
  }
  .footer-down-copy-right {
      width: 100%;
  }
  .footer-up-beta{
      width: 100%;
  }
  .footer-up-beta a{
      justify-content: left;
  }
}

/*------------------------------------*/